@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(224, 238, 224);
    width: 100vw;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}